* {
    margin: 0;
    border: 0;
    /* border: 2px solid red; */
    box-sizing: border-box;
}

.search-component-wrapper {
    display: flex;
    background-color: #0b0c10;
    color: #C5c6c7;
    padding: 10px;
}

.train-id-input-wrapper,
.search-icon-wrapper {
    padding: 10px;
}

input {
    background: transparent;
    border: 1px solid #66fcf1;
    border-radius: 5px;
    padding: 10px;
    color: #C5c6c7;
    font-size: 100%;
}

label {
    padding: 10px;
    color: #66fcf2b2;
}

.search-icon {
    font-size: 2em;
    color: #66fcf1;
}