<div class="main-wrapper">
    <div class="main-header">
        <h1>Train Number - {{trainId}}</h1>
    </div>
    <div class="data-display-wrapper" *ngIf="compartmentDetails.length>0">
        <div class="compartments-list-wrapper">
            <div class="compartments-list-header-wrapper">
                <div class="compartments-list-header-item">Compartment no.</div>
                <div class="compartments-list-header-item">Type</div>
                <div class="compartments-list-header-item">No. of Passengers</div>
            </div>

            <div class="compartments-list-items-wrapper" *ngFor="let compartment of compartmentDetails">
                <div class="compartments-list-item">{{compartment.compartmentNo}}</div>
                <div class="compartments-list-item">{{compartment.type}}</div>
                <div class="compartments-list-item">{{compartment.count}}</div>
            </div>
        </div>

        <div class="compartments-chart-wrapper">
            <app-compartment-count-chart></app-compartment-count-chart>
        </div>
    </div>
    <div class="no-data-display-wrapper" *ngIf="!compartmentDetails.length>0">
        NO SUCH TRAIN AVAILABLE
    </div>
</div>