* {
    margin: 0;
    border: 0;
    /* border: 2px solid red; */
    box-sizing: border-box;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #C5c6c7;
}

.main-header {
    background-color: #0b0c10;
    color: #66fcf1;
    padding: 10px;
}

.data-display-wrapper {
    display: flex;
}

.compartments-list-wrapper {
    /* background-color: #0b0c10; */
    margin: 20px;
    padding: 10px;
    flex: 1;
}

.compartments-chart-wrapper {
    /* flex-grow: 50%; */
    flex: 1;
}

.compartments-list-header-wrapper {
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2833;
    color: #C5c6c7;
    border: 2px solid black;
}

.compartments-list-header-item {
    min-width: 20%;
    max-width: 50%;
    padding: 10px;
}

.compartments-list-items-wrapper {
    display: flex;
    justify-content: space-evenly;
    background-color: #C5c6c7;
    color: #1f2833;
    border: 2px solid black;
}

.compartments-list-item {
    min-width: 20%;
    max-width: 50%;
    padding: 10px;
}

.no-data-display-wrapper {
    background-color: #0b0c10;
    color: #66fcf1;
    padding: 10px;
    display: flex;
    justify-content: center;
}