* {
    margin: 0;
    box-sizing: border-box;
    border: 0;
    /* border: 2px solid red; */
}

.main-container {
    height: 100vh;
    width: 100vw;
}

.image-wrapper {
    width: 100vw;
    height: 70vh;
}

.main-image {
    width: 100%;
    height: 100%;
    /* max-width: 100%;
    max-height: 100%; */
}

.link-wrapper {
    position: absolute;
    top: 50%;
    left: 30%;
    color: #1f2833;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    background-color: #66fcf2a1;
    border-radius: 20px;
    padding: 20px;
    animation-name: link-box;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes link-box {
    50% {
        left: 40%;
    }
}

.link-arrow {
    display: inline;
    animation-name: link-arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes link-arrow {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cards-display {
    display: flex;
    flex-direction: column;
}

.card-item {
    width: 60vw;
    height: 300px;
    background-color: rgb(168, 228, 208);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.card-image-wrapper {
    width: 50%;
    height: 100%;
}

.card-image {
    width: 100%;
    height: 100%;
}

.card-text-wrapper {
    width: 50%;
    height: 100%;
}

.odd-card {
    animation-name: card-to-right;
    animation-duration: 3s;
    left: 15%;
}

.even-card {
    animation-name: card-to-left;
    animation-duration: 3s;
    right: -25%;
}

@keyframes card-to-right {
    0% {
        left: -100%;
    }
    100% {
        left: 15%;
    }
}

@keyframes card-to-left {
    0% {
        right: -100%;
    }
    100% {
        right: -25%;
    }
}


/* .main-view-wrapper {
    min-width: 100%;
    max-height: 70%;
    position: relative;
    text-align: center;
} */


/* .main-text-wrapper {
    max-width: 20%;
    max-height: 500px;
    position: absolute;
    top: 15%;
    left: 20%;
    color: #66fcf1;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    font-weight: bold;
    text-align: left;
} */