<div class="main-container">
    <!-- <img src="../../assets/pictures/train-1.jpg" alt="Train"> -->
    <!-- <p>hello</p> -->
    <div class="main-view-wrapper">
        <img class="main-image" src="../../assets/pictures/train-1.jpg" alt="Train">
        <div class="main-text-wrapper">
            <div class="main-text">RT Sub-Urban RAIL HELPER</div>
        </div>
        <a href="/trains">
            <div class="link-wrapper">
                View Trains
                <div class="link-arrow">>></div>
            </div>
        </a>
    </div>
</div>