<div class="main-container">
    <div class="image-wrapper">
        <img class="main-image" src="../../../assets/pictures/home-image-1.jpg" alt="Train">
    </div>
    <div class="link-view-wrapper">
        <a href="/trains">
            <div class="link-wrapper">
                VIEW TRAINS
                <div class="link-arrow">>></div>
            </div>
        </a>
    </div>
    <div class="cards-display">
        <div class="card-item odd-card" data-aos="fade-right" data-aos-duration="2000">
            <div class="card-image-wrapper">
                <!-- <img class="card-image" src="../../../assets/pictures/clock-1.jpg" alt=""> -->
                <i class="far fa-clock card-icon"></i>
            </div>
            <div class="card-text-wrapper">
                <h1>REAL TIME</h1>
                <p>Real time view of the passenger count in compartments helps users decide the compartment to travel in</p>
            </div>
        </div>
        <div class="card-item even-card" data-aos="fade-left" data-aos-duration="2000">
            <div class="card-image-wrapper">
                <!-- <img class="card-image" src="../../../assets/pictures/clock-1.jpg" alt=""> -->
                <i class="fas fa-suitcase card-icon"></i>
            </div>
            <div class="card-text-wrapper">
                <h1>IMPROVES PASSENGER'S TRAVEL EXPERIENCE</h1>

                <p> Helps user have the best transit experience possible by giving them knowledge of the crowd density of the specified train</p>
            </div>
        </div>
        <div class="card-item odd-card" data-aos="fade-right" data-aos-duration="2000">
            <div class="card-image-wrapper">
                <!-- <img class="card-image" src="../../../assets/pictures/clock-1.jpg" alt=""> -->
                <i class="fas fa-laptop card-icon"></i>
            </div>
            <div class="card-text-wrapper">
                <h1>NO NEED OF LOGIN</h1>
                <p>Does not require the ned user to login. Hence, it proves helpful for all users - regular and first time users</p>
            </div>
        </div>
        <div class="card-item even-card" data-aos="fade-left" data-aos-duration="2000">
            <div class="card-image-wrapper">
                <!-- <img class="card-image" src="../../../assets/pictures/clock-1.jpg" alt=""> -->
                <i class="fas fa-globe card-icon"></i>
            </div>
            <div class="card-text-wrapper">
                <h1>CAN BE ACCESSED ANYWHERE, ANYTIME</h1>
                <p>Daily commuters can access the site online through their mobile devices and this enhances the user experience</p>
            </div>
        </div>

    </div>
</div>